<footer class="footer-page">
    <a href="{{ path('home.index') }}"><img class="logo" src="{{ asset('images/logo.png') }}" alt="logo"></a>
    <div class="footer-about">
        <a rel="external nofollow" target="_blank" href="https://www.facebook.com/autoclean62"><img class="fb-icon" src="{{ asset('images/facebook-icon.svg') }}" alt="facebook"></a>
        <a rel="external nofollow" target="_blank" href="https://www.leboncoin.fr/boutique/37283/garage_auto_clean.htm"><img class="lb-icon" src="{{ asset('images/leboncoin-icon.svg') }}" alt="leboncoin"></a>
        <p>Développée et designé avec <g class="heart-icon"></g> par Weaz</p>
    </div>
</footer>